/* styling  the body */
body{
    margin: 0;
    padding: 0;
}

/* styling  section , giving background image and dimentions 
*/
section{
   width: 100%;
   height: 100vh;
   background: url('http://www.utkrishtaevents.org');
   background-size: cover;
}

/* styling the left floating  section */
section .leftBox{
   width:50%;
   height:100%;
   float:left;
   padding: 50px;
   box-sizing: border-box;
}

/*styling the background  of left floating section */
section .leftBox .content {
    color: rgb(13, 73, 53);
    background: rgba(0,0,0,0.5);
    padding: 40px;
    treansition: .5s;
}

/*styling the hover effect of left floating section*/
section .leftBox .content:hover {
background: sandybrown;
}

/* styling  the header of left floating section*/
section .leftBox .content h1 {
margin: 0;
padding: 0;
font-size: 50px;
text-transform: uppercase;

}

/* styling the paragraph of left floating section */
section .leftBox .content p{
    margin: 10px 0 0;
    padding:  0;
}

/* styling the three evnts section */
section .events{
    position: relative;
    width: 50%;
    height: 110%;
    background: rgba(0,0,0,0.5);
    float: right;
    box-sizing: border-box;
}

/*styling the links of the  events section*/
section .events ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;    
}

/*styling  the lists of the events secton*/
section .events ul li{
    list-style: none;
    background:rgb(13, 73, 53);
    box-sizing: border-box;
    height: 200px;
    margin:15px 0;

}

/*styling the time class of events section*/
section .events ul li .time {
 position: relative;
 padding: 20px;
 background: cadetblue;
 box-sizing: border-box;
 width: 20%;
 height: 100%;
 float:left;
 text-align: center;
 transition: .5s;
}

/*styling the hover effect of events section*/
section .events ul li:hover .time{
    background: dodgerblue;
}

/*styling the header of time class  of events section*/
section .events ul li .time h2{
position:absolute;
margin: 0;
padding: 0;
top:50%;
left: 50%;
transform:translate(-50% ,-50%);
color:black;
font-size: 60px;
line-height: 30px;
}
/*styling the texts of time class of events section*/
section .events ul li .time h2 span{
    font-size: 30px;
}

/* styling the details  class of events section */
section .events ul li .details{
    padding: 20px;
    background:#fff;
    box-sizing:border-box;
    width: 70%;
    height: 100%;
    float: left;
}

/*styling the header of the details class of events section*/
section .events ul li .details h3{
    position: relative;
    margin: 0;
    margin: 0;
    font-size: 22px;
}

/*styling the lists of details class of  events section*/
section .events ul li .details p{
    position:relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}

/* styling the links of details class of events section*/
section .events ul li .details a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 1.5px solid #262626;
    margin-top: 8px;
    font-size: 18px;
    transition: .5s;

}

/*styling the details class's  hover effect */
section .events ul li .details a:hover{
    background: #331333d5;
    color: #fff;
    border-color:#e91e63 ;
}




